
@{
    ViewBag.Title = "Thankyou";
}

<!-- Thank you section -->
<section id="aa-error">
    <div class="container">
        <div class="aa-error-area">
            <h2>Thank You</h2>
            <span class="text-center">Your Order was completed Successfully.</span>
            <p class="text-center">Thank you for shopping.</p>
            <a href="@Url.Action("Index","Home")" class="text-center" style="border-radius:100px"> Go to Homepage</a>
        </div>
    </div>
</section>
<!-- / Thank you section -->
